In [2]:
from path import Path
import pandas as pd

from config import db_password

from sqlalchemy import create_engine
import psycopg2

In [6]:
# assign a variable that contains a string of your credentials
credentials = f"postgresql://postgres:{db_password}@127.0.0.1:5433/final_project"

# read in your SQL query results using pandas
df = pd.read_sql("""
            SELECT artists, name, peak_position, weeks_on_chart, "GrammyAward"
            FROM billboard_grammy_analysis
            """, con = credentials)

# return your first five rows
df.head()

,artists,name,peak_position,weeks_on_chart,GrammyAward
0,"Lady Gaga, Bradley Cooper",Shallow,1.0,39.0,2
1,Avicii,Heaven,NaN,NaN,2
2,Dan + Shay,Tequila,21.0,50.0,1
3,Ariana Grande,Imagine,21.0,8.0,1
4,Bazzi,Beautiful,26.0,27.0,1

In [11]:
y = df["GrammyAward"]
X = df.drop(columns=["artists", "name"], axis=1).fillna(0)

In [12]:
# Split the dataset into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(100, 3)

In [13]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [14]:
# Trained the model with the training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [15]:
# Create predictions for y-values
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            2       2
2            1       1
3            2       2
4            1       1
5            1       1
6            1       1
7            1       1
8            2       2
9            1       1
10           2       2
11           2       2
12           1       1
13           1       1
14           1       1
15           1       1
16           1       1
17           1       1
18           1       1
19           1       1

In [16]:
#Accuracy: how well does our logistic regression model predict?
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9411764705882353

In [ ]:
#Confusion Matrix to analyze accuracy, recall/sensitivy, and F1 score/precision
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

#Use Confusion Matrix to analyze accuracy, recall/sensitivy, and F1 score/precision
report = classification_report(y_test, y_pred)
print(report)